{% extends "base.html" %}

{% block article %}
    <div>
        <article>
            <h1>{{title}}</h1>
            {% if tags %}
                <div class="tags_wrapper">
                    <h5>Tag:</h5>
                    {% for tag in tags %}
                        <a href="{{tag.get_absolute_url}}">
                            {{tag}}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            {% if photo %}
                <div style="max-width: 350px; overflow: hidden;">
                    <img style="object-fit: cover; object-position: center center; width: 100%; height: 100%" src="{{photo.url}}" alt="{{title}}">
                </div>
            {% endif %}
            <p>{{content|linebreaksbr}}</p>

            <div>
                <p>Published: {{time_create|date:"d/m/Y H:i:s"}}</p>
                <p>Updated: {{time_update|date:"d/m/Y H:i:s"}}</p>
            </div>
        </article>
    </div>
{% endblock %}