{% load static %}
{% load blog_tags %}

<!--BASE-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <nav class="main_nav">
        <div class="container">
            <div class="logo">
                <h1>
                    <a href="{% url 'index' %}">Our Blog</a>
                </h1>
            </div>
            <div class="menu">
                <ul>
                    {% for m in menu %}
                        <li>
                            <a href="{% url m.link_url %}">{{ m.link_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <section class="aside_and_main container">
        <aside>
            {% show_categories cat_selected %}
            {% show_tags %}
        </aside>
        <main>
            {% block content_header %}{% endblock %}
            {% block article %} {% endblock %}
            {% block latest_articles %} {% endblock %}
            {% block category %} {% endblock %}
            {% block tags %} {% endblock %}
        </main>
    </section>

    <script src="{% static 'blog/js/script.js' %}"></script>
</body>
</html>