{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo"></div>
            <div class="menu">
                <ul>
                    {% for m in menu %}
                        <li>
                            <a href="{% url m.link_url %}">{{ m.link_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
    {% block about %} {% endblock %}

    <script src="{% static 'blog/js/script.js' %}"></script>
</body>
</html>